.contato-fixo {
    position: fixed;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 9999;
  }
  
  .link-contato {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000;
  }
  
  .icone {
    font-size: 24px;
    margin-right: 5px;
  }
  