


body {
    margin: 0;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    color: #000;
}

.pt-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 80px;
    padding: 50px 00px;
    margin: 0 auto;
    margin-top: 60px;
    margin-right: 80px;
  
    }
  
  .pt-card {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
  }
  
  .pt-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .pt-card .card-body {
    padding: 20px;
  }
  
  .pt-card h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .pt-card p {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .pt-card .cta-btn {
    background-color: #ff0000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
    position: absolute;
    bottom: 20px;
    right: 20px;
    transition: all 0.3s ease-in-out;
  }
  
  .pt-card .cta-btn:hover {
    background-color: #000;
    color: #fff;
  }
  
  @media screen and (max-width: 1024px) {
    .pt-list {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media screen and (max-width: 768px) {
    .pt-list {
      grid-template-columns: 1fr;
    }
  }
  
  